# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*/target
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# keep demo images versioned for deployment
target
deploy-data
backups
tmp-*.log
tmp-*.ini
run-logs
deploy/certs/*.pem
deploy/certs/*.key
deploy/certs/*.crt
deploy/certs/*.csr
deploy/certs/*.conf
deploy/certbot/etc
deploy/certbot/lib
deploy/certbot/log
